.hero-background {
  background-image: url("../../assets/images/background.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
}
